@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "mixins";
@import "fonts";
@import "icons";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1504;
$md1: $maxWidthContainer + 40;
$md2: 992;
$md3: 768;
$md4: 576;

$fontFamily: "Poppins";

@import "null";

body.lock{
	overflow: hidden !important;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: none;
		padding: 0 20px;
	}
}
.btn{
	@include fontText(Poppins, 14px, 400);
	line-height: 21 / 14 * 100%;
	color: #FFD703;
	border: 2px solid #FFD703;
	box-sizing: border-box;
	padding: 13.5px 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	border-radius: 100px;
	text-transform: uppercase;
	background-color: transparent;
	@media (min-width: $md2 + px) {
		&:hover {
			background-color: #F53838;
			
			color: white;
		}
	}
}
.title{
	font-weight: 400;
	@include adaptiv-font(60, 38, 1);
	line-height: 90 / 60 * 100%;
	color: #F4F4F4;
}
.subtitle{
	font-weight: 400;
	@include adaptiv-font(40, 20, 1);
	line-height: 60 / 40 * 100%;
}
.text{
	@include fontText(Poppins, 16px, 400);
	line-height: 24 / 16 * 100%;
}
.main-title{
	font-weight: 400;
	@include adaptiv-font(106, 48, 1);
	line-height: 138 / 106 * 100%;
	color: #F4F4F4;
}
.input{
	width: 312px;
	height: 50px;
	border: 1px solid #CAFFFD;
	border-radius: 2000px;
	color: #CCCCCC;
	@include fontText(Poppins, 12px, 400);
	line-height: 18 / 12 * 100%;
	padding-left: 34px;
	@media (max-width: 440px) {
		width: 100%;
	}
}
.lb {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.inp{
	display: block;
    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 137.5%;
    color: black;
}

@import "./sections/header";
@import "./sections/intro";
@import "./sections/reviews";
@import "./sections/graphic";
@import "./sections/design";
@import "./sections/product";
@import "./sections/team";
@import "./sections/download";
@import "./sections/footer";
@import "./sections/modal";